.logo{
    text-align: center;
}
.navbar-logo img{
    padding-top: 5px;
    width: 180px;
    height: 50px;
}
.admin-menu{
    width: 249px;
    float: left;
}
.menu-item {
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.menu-item:hover {
    background-color: #f8f9fa;
    color: #6176fe; 
}

.menu-item.active {
    background-color: #6176fe;
    color: white !important;
    font-weight: bold;
}
